# Virtual Environment
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.egg-info/

# Database
*.sqlite3
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
.env
.env.docker
django_proj/venv/
django_proj/.env
django_proj/*.sqlite3
django_proj/__pycache__/
django_proj/**/__pycache__/
